.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

h2{
    margin-top: 20px;
}
.carrito-badge{
    margin-bottom: 10px;
}

@media screen and (min-width:992px) {
    .carrito-badge{
        margin-bottom: 0px;
        margin-right: 20px;
    }
} 
